:root {
  --primary-text-color: rgba(33, 33, 33, 1);
  --text-color: rgba(117, 117, 117, 1);
  --footer-cont-color: rgba(255, 255, 255, 0.6);
  --third-color: #ffffff;
  --accent-color: rgba(33, 150, 243, 1);
  --main-bg-color: #ffffff;
  --second-bg-color: rgba(47, 48, 58, 1);
  --third-bg-color: rgba(245, 244, 250, 1);
  --primary-button-color: rgba(245, 244, 250, 1);
  --primary-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header {
  border-bottom: 1px solid #ECECEC;
}

.page-hader__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.non-title {
  display: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.page-header__logo {
  margin-top: 24px;
  margin-bottom: 25px;
  margin-right: 93px;
}

.logo__web {
  color: var(--accent-color);
}

.logo__studio {
  color: var(--primary-text-color);
}

.header-nav {
  width: 294px;
}

.header-nav__list .header-nav__link.current {
  color: var(--accent-color);
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav__item {
  position: relative;
}

.header-nav__item:not(:last-child) {
  margin-right: 50px;
}

.header-nav__link {
  display: block;
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-bottom: 32px;
  padding-top: 32px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--primary-cubic-bezier);
          transition-timing-function: var(--primary-cubic-bezier);
}
.header-nav__link:hover, .header-nav__link:focus {
  color: var(--accent-color);
}
.header-nav__link.current::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.header-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: auto;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header-contact__link {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.header-contact__link:focus, .header-contact__link:hover {
  color: var(--accent-color);
}

.mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
}

.header-contact__icon {
  margin-right: 10px;
  fill: var(--text-color);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--primary-cubic-bezier);
          transition-timing-function: var(--primary-cubic-bezier);
}
.header-contact__link:hover .header-contact__icon, .header-contact__link:focus .header-contact__icon {
  fill: var(--accent-color);
}

.hero {
  background: var(--second-bg-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bgim-hiro.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bgim-hiro.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgb(0, 0, 0) .hero;
}

.hero__titel {
  color: var(--third-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.btn {
  background-color: var(--accent-color);
  color: var(--third-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  border: 0;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.benefits {
  padding-bottom: 0px;
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.benefits__subtitle {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  width: 270px;
  margin-top: 30px;
}

.benefits__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--text-color);
  width: 270px;
  margin-top: 10px;
}

.benefits__item:not(:last-child) {
  margin-right: 30px;
}

.benefits__link {
  border: 0px;
  border-radius: 4px;
  background: rgb(245, 244, 250);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-title {
  color: var(--primary-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.business__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.busines__item {
  position: relative;
}

.busines__overlay {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.busines__subtitle {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.busines__img {
  display: block;
}

.team {
  background: var(--third-bg-color);
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.team__item {
  width: 270px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__border-card {
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
}

.team__img {
  display: block;
}

.team__card-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.team__text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__icon,
.social__item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--primary-cubic-bezier);
          transition-timing-function: var(--primary-cubic-bezier);
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__item:hover,
.social__icon:focus {
  background-color: var(--accent-color);
}

.social__svg--grey {
  fill: rgb(175, 177, 184);
}

.social__svg {
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--primary-cubic-bezier);
          transition-timing-function: var(--primary-cubic-bezier);
}

.social__item:hover .social__svg,
.social__icon:focus .social__svg {
  fill: #ffffff;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients__item {
  width: 170px;
  cursor: pointer;
}
.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  width: 170px;
  height: 92px;
  border: 1px solid rgb(175, 177, 184);
  border-radius: 4%;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--primary-cubic-bezier);
          transition-timing-function: var(--primary-cubic-bezier);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-color);
}

.clients__logo {
  margin-top: 16px;
  margin-bottom: 16px;
  fill: rgb(175, 177, 184);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--primary-cubic-bezier);
          transition-timing-function: var(--primary-cubic-bezier);
}
.clients__item:hover .clients__logo, .clients__link:focus .clients__logo {
  fill: var(--accent-color);
}

.footer {
  background: var(--second-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-container {
  margin-right: 70px;
  width: 231px;
}

.logo__studio--white {
  color: var(--third-color);
}

.footer-address {
  margin-top: 20px;
}

.address__text {
  color: var(--third-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  margin-bottom: 9px;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  color: var(--footer-cont-color);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--primary-cubic-bezier);
          transition-timing-function: var(--primary-cubic-bezier);
}
.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.soc-container {
  width: 206px;
  margin-right: 93px;
}

.call {
  font-weight: 700;
  font-size: 14px;
  line-height: 2.18;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
  text-transform: uppercase;
}

.social__item--grafit {
  background: rgba(255, 255, 255, 0.1);
}

.social__icon--white {
  fill: #ffffff;
}

.form {
  display: block;
  width: 570px;
  position: relative;
}

.form__tex {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.form__mail {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 12px;
}

.form__input {
  padding-top: 0;
  padding-bottom: 0;
  background-color: var(--primary-bg-color);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-align: left;
}
.form__input:focus {
  outline: transparent;
}

.form__icon {
  position: absolute;
  right: 28px;
  top: 10px;
  fill: #fff;
}

.form-btn {
  position: relative;
  padding-right: 62px;
  padding-left: 29px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 1500ms, visibility 1500ms;
  transition: opacity 1500ms, visibility 1500ms;
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  background: rgb(255, 255, 255);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 250ms;
          animation-duration: 250ms;
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgb(255, 255, 255);
}
.btn-close:hover {
  fill: var(--accent-color);
}
.btn-close:focus {
  fill: var(--accent-color);
  outline: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.callback-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
}

.modal__titel {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
}

.modal__label {
  margin-bottom: 4px;
  color: rgb(117, 117, 117);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;
}

.input-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__input {
  margin-bottom: 10px;
  padding-left: 42px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.modal__input:focus {
  outline: transparent;
  border-color: var(--accent-color);
}

.modal__textarea:focus {
  outline: transparent;
  border-color: var(--accent-color);
}

.modal__svg {
  position: absolute;
  top: 11px;
  left: 12px;
}
.modal__input:focus + .modal__svg {
  fill: var(--accent-color);
}

.modal__textarea {
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
}
.modal__textarea::-webkit-input-placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea::-moz-placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea:-ms-input-placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea::-ms-input-placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;
  color: rgba(117, 117, 117, 0.5);
}

.modal__textarea:-moz-placeholder-shown {
  padding: 12px 16px;
}

.modal__textarea:-ms-input-placeholder {
  padding: 12px 16px;
}

.modal__textarea:placeholder-shown {
  padding: 12px 16px;
}

.modal-btn {
  margin: auto;
  margin-top: 30px;
}
.modal-btn:hover, .modal-btn:focus {
  background: rgb(24, 140, 232);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.checkbox__text {
  margin-left: 14px;
  margin-bottom: 4px;
  padding-top: 20px;
  color: rgb(117, 117, 117);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.17;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox__text span {
  width: 16px;
  height: 15px;
  border: 2px solid #303030;
  border-radius: 4px;
}

.checkbox__svg {
  fill: transparent;
}

.checkbox__svg-wrap {
  margin-right: 7px;
  margin-bottom: 1px;
}

.checkbox__input {
  position: absolute;
  z-index: -1;
  bottom: 4.5px;
  left: 16px;
  outline: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.checkbox__input:focus + .checkbox__text .svg-wrap {
  background-color: var(--accent-color);
  border: none;
}
.checkbox__input:focus + .checkbox__text .checkbox__svg {
  fill: #ffffff;
}
.checkbox__input:checked + .checkbox__text .checkbox__svg-wrap {
  background-color: var(--accent-color);
  border: none;
}
.checkbox__input:checked + .checkbox__text .checkbox__svg {
  fill: #ffffff;
}

.checkbox__wrap-link {
  position: relative;
  margin-left: 3px;
}

.checkbox__linck {
  text-decoration: none;
  color: var(--accent-color);
}
.checkbox__linck::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.5px;
  background-color: var(--accent-color);
  bottom: 0;
  left: 0;
}

.buttons__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.buttons__item:not(:last-child) {
  margin-right: 8px;
}

.buttons__btn {
  background-color: var(--primary-button-color);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--primary-cubic-bezier);
          transition-timing-function: var(--primary-cubic-bezier);
  padding: 6px 22px;
  border: 0px;
  border-radius: 4%;
}
.buttons__btn:hover, .buttons__btn:focus {
  background-color: var(--accent-color);
  color: var(--third-color);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.project__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
}

.project__item {
  -ms-flex-preferred-size: calc(33.3333333333% - 30px);
      flex-basis: calc(33.3333333333% - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--primary-cubic-bezier);
          transition-timing-function: var(--primary-cubic-bezier);
}
.project__item:hover {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.project__link:focus .project__item {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.project__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.project__top-part {
  position: relative;
  overflow: hidden;
}

.project__img {
  display: block;
}

.project__overlay-text {
  position: absolute;
  top: 0;
  height: 294px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: rgb(255, 255, 255);
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--primary-cubic-bezier);
          transition-timing-function: var(--primary-cubic-bezier);
}
.project__item:hover .project__overlay-text {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.project__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

.project__text {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.project__bottom-part {
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  padding: 20px 24px;
}/*# sourceMappingURL=main.css.map */