.buttons__list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.buttons__item:not(:last-child) {
    margin-right: 8px;
}

.buttons__btn {
    background-color: var(--primary-button-color);
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-align: center;
    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--primary-cubic-bezier);
    padding: 6px 22px;
    border: 0px;
    border-radius: 4%;
    &:hover,
    &:focus {
        background-color: var(--accent-color);
        color: var(--third-color);
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
        box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
    }
}

