.page-header {
    border-bottom: 1px solid #ECECEC;
    
}

.container.page-hader__block {
    display: flex;
    align-items: center;
}

.page-header__logo {
    margin-top: 24px;
    margin-bottom: 25px;
    margin-right: auto;
}
@media screen and (min-width: 768px) {
    .page-header__logo {
        margin-right: 88px;
    }
}
@media screen and (min-width: 1200px) {
    .page-header__logo {
        margin-right: 93px;
    }
}
/////
.header-menu-open {
    background-color: transparent;
    border: none;

}
@media screen and (min-width: 768px) {
    .header-menu-open {
            display: none;
        }
}
///////////////
.mob-menu {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding-top: 48px;
    padding-bottom: 48px;
    .container {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
    }
}

.mob-menu__close {
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    background-color: transparent;
}

.mob-menu__item-nav:not(:last-child) {
    margin-bottom: 32px;
}
.mob-menu__link-nav {
    text-decoration: none;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.02em;
    text-align: left;
    color:rgba(33, 33, 33, 1);
}

.mob-menu__contact {
    display: block;
    margin-bottom: 64px;
}
.mob-menu__tel {
    margin-bottom: 32px;
    display: block;
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(117, 117, 117, 1);
}
@media screen and (min-width: 480px) {
    .mob-menu__tel {
        font-size: 34px;
        font-weight: 500;
    }
}
.mob-menu__mail {
        text-decoration: none;
        font-size: 22px;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.02em;
        text-align: left;
        color: rgba(117, 117, 117, 1);
}
@media screen and (min-width: 480px) {
    .mob-menu__mail {
        font-size: 24px;
        font-weight: 500;
    }
}
.mob-menu__list-soc {
    display: flex;
    margin-bottom: auto;
    position: relative;
}
@media screen and (max-width: 479px) {
    .mob-menu__list-soc {
        flex-wrap: wrap;
    }
}
.mob-menu__item-soc:not(:last-child) {
        margin-right: 10px;
        
}
.mob-menu__item-soc {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.22;
        letter-spacing: 0.02em;
        text-align: left;
        color: var(--accent-color);
}
.mob-menu__link-soc {
    padding-left: 10px;
}

.mob-menu__ld::after,
.mob-menu__fb::after,
.mob-menu__tw::after {
    content: ' ';
    position: absolute;
    width: 1px;
    height: 22px;
    top: 0;
    display: block;
    background-color: var(--text-color);
}
@media screen and (max-width: 479px) {
    .mob-menu__ld::after,
    .mob-menu__fb::after,
    .mob-menu__tw::after {
        display: none;
    }
}
@media screen and (max-width: 479px) {
    .mob-menu__item-soc {
        display: flex;
        flex-wrap: wrap;
    }
}



