.hero {
    background: var(--second-bg-color);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/bgim-hiro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 1)
    &
}

.hero__titel {
            color: var(--third-color);
            font-size: 44px;
            font-weight: 900;
            line-height: 1.36;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            padding-bottom: 30px;
        }