.benefits {
    padding-bottom: 0px;
    border: 0;
    
}
  .benefits__list {
        display: flex;
        flex-wrap: wrap;
    }
    
@media screen and (max-width: 767px) {
    .benefits__list {
        display: flex;
        flex-direction: column;
    }
}
@media screen and (min-width: 768px) {
    .benefits__list {
        margin-left: -30px;
    }
}
.benefits__item {
    width: 100%;
    outline: 1px solid tomato;
    &:not(:last-child) {
        margin-bottom: 30px;
    }
}
@media screen and (min-width: 768px) {
    .benefits__item {
        width: calc(100% / 2 - 30px); 
        margin-left: 30px;
        &:nth-child(n+3) {
            margin-bottom: 0;
        }
   }
}
@media screen and (min-width: 1200px) {
    .benefits__item {
        width: calc(100% / 4 - 30px);
        &:nth-child(n+1) {
                margin-bottom: 0;
            }
    }
}

.benefits__subtitle {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
    }

@media screen and (min-with: 768px) {
    .benefits__subtitle {
        text-align: left;
    }
}


.benefits__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--text-color);
    width: 100%;
    margin-top: 10px;
}
@media screen and (min-with: 768px) {
    .benefits__text {
        text-align: left;
    }
}


.benefits__link {
    border: 0px;
    border-radius: 4px;
    background: rgba(245, 244, 250, 1);
    display: flex;
    justify-content: center;
    height: 120px;
    align-items: center;
}