.team {
    background: var(--third-bg-color);
    width: 100%;
}

.team__list {
    display: flex;
    flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
    .team__list {
        display: flex;
        flex-direction: column;
}
}
@media screen and (min-width: 768px) {
    .team__list {
        margin-left: -30px;
    }
}
.team__item {
    width: 100%;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    &:not(:last-child) {
       margin-bottom: 30px; 
    }
    
    }
        @media screen and (min-width: 768px) {
            .team__item {
                width: calc(100% / 2 - 30px);
                margin-left: 30px;
                &:nth-child(n+3) {
                    margin-bottom: 0;
                }
            }
        }
    
        @media screen and (min-width: 1200px) {
            .team__item {
                width: calc(100% / 4 - 30px);
                &:nth-child(n+1) {
                        margin-bottom: 0;
                    }
            }
        }

.team__img {
    display: block;
    width: 100%;
}



.team__border-card {
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 0px 0px 4px 4px;
}
.team__card-name {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 10px;
}

.team__text {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 16px;
}