.checkbox__text {
    margin-left: 14px;
    margin-bottom: 4px;
    padding-top: 20px;
    color: rgba(117, 117, 117, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.17;
    display: flex;
    align-items: center;
}

.checkbox__text span {
    width: 16px;
    height: 15px;
    border: 2px solid #303030;
    border-radius: 4px;
}

.checkbox__svg {
    fill: transparent;
}

.checkbox__svg-wrap {
    margin-right: 7px;
    margin-bottom: 1px;
}

.checkbox__input {
    position: absolute;
    z-index: -1;
    bottom: 4.5px;
    left: 16px;
    outline: transparent;
    appearance: none;
    &:focus+.checkbox__text .svg-wrap {
        background-color: var(--accent-color);
        border: none;
        }
    &:focus+.checkbox__text .checkbox__svg {
        fill: #ffffff;
        }
    &:checked+.checkbox__text .checkbox__svg-wrap {
         background-color: var(--accent-color);
          border: none;
}
    &:checked+.checkbox__text .checkbox__svg {
        fill: #ffffff;
}
}

.checkbox__wrap-link {
    position: relative;
    margin-left: 3px;
}

.checkbox__linck {
    text-decoration: none;
    color: var(--accent-color);
    &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 0.5px;
            background-color: var(--accent-color);
            bottom: 0;
            left: 0;
        }
}

