.modal {
    position: absolute;
    width: 528px;
    min-height: 581px;
    background: rgba(255, 255, 255, 1);
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    animation-name: rotate;
    animation-duration: 250ms;
}

.btn-close {
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 1);
    &:hover {
        fill: var(--accent-color);
    }
    &:focus {
        fill: var(--accent-color);
        outline: transparent;
        border: 1px solid rgba(0, 0, 0, 0.1)
    }
}



.callback-block {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.modal__titel {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-align: center;
}

.modal__label {
    margin-bottom: 4px;
    color: rgba(117, 117, 117, 1);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.01em;
    text-align: left;
}

.input-block {
    position: relative;
    display: flex;
    flex-direction: column;
}

.modal__input {
    margin-bottom: 10px;
    padding-left: 42px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    
    &:focus {
        outline: transparent;
        border-color: var(--accent-color);
    }
}
.modal__textarea:focus {
        outline: transparent;
        border-color: var(--accent-color);
    }
.modal__svg {
    position: absolute;
    top: 11px;
    left: 12px;
    .modal__input:focus+& {
    fill: var(--accent-color);
    }
}





.modal__textarea {
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    resize: none;
    &::placeholder {
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.01em;
        text-align: left;
        color: rgba(117, 117, 117, 0.5);
}
}



.modal__textarea:placeholder-shown {
    padding: 12px 16px;
}
.modal-btn {
    margin: auto;
    margin-top: 30px;
    &:hover,
    &:focus {
        background: rgba(24, 140, 232, 1);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
}




.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}