:root {
    --primary-text-color: rgba(33, 33, 33, 1);
    --text-color: rgba(117, 117, 117, 1);
    --footer-cont-color: rgba(255, 255, 255, 0.6);
    --third-color: #ffffff;
    --accent-color: rgba(33, 150, 243, 1);
    --main-bg-color: #ffffff;
    --second-bg-color: rgba(47, 48, 58, 1);
    --third-bg-color: rgba(245, 244, 250, 1);
    --primary-button-color: rgba(245, 244, 250, 1);
    --primary-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}